@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}
body{
background: #0c1022;
color: #fff;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #fff;
    text-decoration:none ;
    font-weight: 600;
    pointer-events: none;
    opacity: 1;
    animation: slideTop 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    opacity: 1;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a.active,
.navbar a:hover{
background: linear-gradient(45deg, #f06, #3cf);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}

.con{

    width: 100%;
    padding: 0px;
    margin: 100px auto;
    display: flex ;
    flex-direction: row;
    justify-content:center;
}
.cont{

    width: 100%;
    padding: 0;
    margin: 100px auto;
    display: flex ;
    flex-direction: row;
    justify-content:center;
}
.box{
    width: 450px;
    margin: 0 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: 1s;
}
.box img{
    display: block;
    width: 100%;
    border-radius: 10px;
}
.box:hover{
    transform: scale(1.3);
    z-index: 1s;
}